@model ProyectoBasesDatos.Models.Doctore

@{
    ViewData["Title"] = "Detalles";
    var diasOrdenados = new List<string> { "L", "M", "K", "J", "V", "S", "D" };
}

<h1>Details</h1>

<div>
    <h4>Doctore</h4>
    <hr />
    <dl class="row">
        <!-- Nombre Completo -->
        <dt class="col-sm-2">
            Nombre Completo
        </dt>
        <dd class="col-sm-10">
            @Model.CorreoNavigation.Nombre @Model.CorreoNavigation.Primerapellido @Model.CorreoNavigation.Segundoapellido
        </dd>

        <!-- Correo -->
        <dt class="col-sm-2">
            Correo
        </dt>
        <dd class="col-sm-10">
            @Model.CorreoNavigation.Correo
        </dd>

        <!-- Teléfono -->
        <dt class="col-sm-2">
            Teléfono
        </dt>
        <dd class="col-sm-10">
            @Model.CorreoNavigation.Telefono
        </dd>

        <!-- Especialidad -->
        <dt class="col-sm-2">
            Especialidad
        </dt>
        <dd class="col-sm-10">
            @Model.Especialidad
        </dd>

        <!-- Horario de Trabajo -->
        <dt class="col-sm-2">
            Horario de Trabajo
        </dt>
        <dd class="col-sm-10">
            <ul>
                @{
                    // Ordenar los horarios según el orden de diasOrdenados
                    var horariosOrdenados = Model.Horarios
                    .OrderBy(h => diasOrdenados.IndexOf(h.Dia))
                    .ToList();
                }
                @foreach (var horario in horariosOrdenados)
                {
                    <li>@horario.Dia: @horario.Horainicio.ToString("HH:mm") - @horario.Horafin.ToString("HH:mm")</li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Cedula">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>